<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LogMapper">
	<resultMap type="cn.sky999.baseEntity.Log" id="logMap">
		<id column="ID" property="id" />
		<result column="IP" property="ip" />
		<result column="USER_ID" property="userId" />
		<result column="USER_NAME" property="userName" />
		<result column="ACTION" property="action" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="STATUS" property="status" />
		<result column="CONTENT" property="content" />
	</resultMap>

	<select id="findLogList" parameterType="java.util.HashMap" resultMap="logMap">
		select 
			ID,
			IP,
			USER_ID,
			USER_NAME,
			ACTION,
			START_TIME,
			END_TIME,
			STATUS,
			CONTENT
		from T_SYS_LOG
		where 1=1
		<if test="startTime != null">
			and START_TIME &gt;=#{startTime}
		</if>
		<if test="endTime != null">
			and END_TIME &lt;= #{endTime}
		</if>
		<if test="status != null and status !=''">
			and STATUS = #{status}
		</if>
		<if test="filter != null and filter !=''">
			and (USER_ID like concat('%',#{filter},'%') or USER_NAME like concat('%',#{filter},'%') or ACTION like concat('%',#{filter}))
		</if>
		order by START_TIME desc
	</select>
	
	<!-- 删除-->
	<delete id="deleteKeepOneMonth" parameterType="java.util.HashMap">
		delete from
			T_SYS_LOG
		where 
			START_TIME &lt;=#{time}
	</delete>
</mapper>